aiohttp==3.6.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.9.0
branca==0.4.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
docopt==0.6.2
get==2019.4.13
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==8.2.0
multidict==4.7.5
ntplib==0.3.3
numpy==1.18.2
packaging==20.3
pandas==1.0.3
pipreqs==0.4.10
pluggy==0.13.1
post==2019.4.13
public==2019.4.13
py==1.8.1
pyparsing==2.4.6
pytz==2019.3
request==2019.4.13
requests==2.23.0
urllib3==1.25.8

